.navbar {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid $grey;
  .navbar_left {
    width: 90%;
    height: 100px;
    .navbar_left_up {
      @include commondiv;
      & img {
        margin-left: 10px;
      }
      & h2 {
        color: $grey;
        margin-left: 15px;
      }
    }
    .navbar_left_dwn{
      @include commondiv;
      & ul {
        list-style: none;
      }
      & li {
        color: $grey;
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        margin: 0 15px;
      }
      .faq {
        color: $blue;
      }
      .line {
        width: 30px;
        height: 3px;
        margin-top: 21px;
        background:  $blue;
      }
    }

  }

  .navbar_right {
    width: 10%;
    height: 100px;
    .navbar_right_up {
      width: 100%;
      height: 50px;
    }
    .navbar_right_dwn {
      @include commondiv;
    }
  }
  .navbar_left, .navbar_right {
    float: left;
  }
  

}
